<%- include('partials/_header') %>

  <form action="/login" method="POST" > 
    <p>BIENVENIDO</p>
    <input name="email" placeholder="e-mail" >
    <input name="pass" placeholder="Contraseña" >
    <button type="submit">Ingresar</button>
  </form>

  <a href="/registro">Registrarme</a>

</body>
</html> 