<%- include('partials/_header') %>

  <a href="/">Inicio</a>

  <form action="/registrar" method="POST">
    <p>Formulario de Registro</p>

    <label for="nombre">Nombre</label>
    <input name="nombre">

    <label for="celular">Celular</label>
    <input name="celular">

    <label for="email">E-Mail</label>
    <input name="email">

    <label for="pass">Contraseña</label>
    <input name="pass">

    <label for="confirmPass">Confirmar contraseña</label>
    <input name="confirmPass">

    <button type="submit">Registrar</button>
  </form>

</body>
</html> 