<%- include('partials/_header') %>

  <a href="/">Inicio</a>

  <form action="/registrar" method="POST">
    <p>Formulario de Registro</p>

    <div class="d-block">
      <label for="nombre">Nombre</label>
      <input class="no-border mb-4" name="nombre">
    </div>

    <div class="d-block">
      <label for="celular">Celular</label>
      <input class="no-border mb-4" name="celular">
    </div>

    <div class="d-block">
      <label for="email">E-Mail</label>
      <input class="no-border mb-4" name="email">
    </div>

    <div class="d-block">
      <label for="apto">Apto(s)</label>
      <input class="no-border mb-4" name="apto" placeholder="Separarlos por comas">
    </div>

    <div class="d-block">
      <label for="pass">Contraseña</label>
      <input class="no-border mb-4" name="pass">
    </div>

    <div class="d-block">
      <label for="confirmPass">Confirmar contraseña</label>
      <input class="no-border mb-4" name="confirmPass">
    </div>

    <button type="submit">Registrar</button>
  </form>

</body>
</html> 